body {
  margin: 0;
  font-family: sans-serif;
  background: #111;
  color: white;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 40px;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  background: #222;
  padding: 20px;
  border-radius: 10px;
}

form h2 {
  margin-top: 0;
}

form label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

form input {
  padding: 6px;
  margin-top: 4px;
  border-radius: 4px;
  border: none;
}

form button {
  margin-top: 10px;
  padding: 10px;
  background: #ffcc00;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

#download-btn {
  background: #00cc66;
}

.poster {
  width: 1200px;
  height: 630px;
  background: url('assets/background.png') no-repeat center/cover;
  position: relative;
  box-sizing: border-box;
  padding: 40px;
  overflow: hidden;
}

.matchday {
  position: absolute;
  top: 60px;
  left: 250px;
  font-size: 32px;
  font-weight: bold;
  color: #fff;
}

.logos {
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 180px;
  z-index: 1;
}

.logo {
  width: 200px;
  height: auto;
  display: block;
  object-fit: contain;
  z-index: 1;
}


.vs-bar {
  position: absolute;
  bottom: 125px; /* 80px info-bar + 5px odstępu + 40px bottom */
  left: 10px;
  right: 10px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.6);
  padding: 20px 0;
  border-radius: 10px;
}

.team-name {
  margin: 0 40px;
}

.vs {
  color: #ffcc00;
}

.info-bar {
  position: absolute;
  bottom: 40px;
  left: 10px;
  right: 10px;
  display: flex;
  justify-content: space-around;
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
}

.info {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
}

.info img {
  width: 24px;
  height: 24px;
}
